
*.~cpp
*.obj
*.~bpr
*.res
*.tds
*.~ddp
*.~dfm
*.~h
*.ddp
*.dfm
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.ipch
*.unsuccessfulbuild
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.tlog
*.lastbuildstate
*.idb
*.vcxproj.filters
*.sdf
